<h2 mat-dialog-title>Edit Post</h2>
<div mat-dialog-content class="pb-0">
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="post.title" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Body</mat-label>
    <textarea matInput [(ngModel)]="post.body"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button class="update-btn" (click)="onUpdate()">Update</button>
  <button mat-button class="cancel-btn" (click)="onCancel()" >Cancel</button>
</div>
